
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.notfound[data-v-122a982b]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;top:50%;left:50%;transform:translate(-50%) translateY(-50%)}.notfound .icon[data-v-122a982b]{width:400px;height:400px}.notfound .content h1[data-v-122a982b]{margin:0;font-size:72px;color:var(--el-text-color-primary)}.notfound .content .desc[data-v-122a982b]{margin:20px 0 30px;font-size:20px;color:var(--el-text-color-secondary)}
