
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.echarts[data-v-ae4a52f5]{position:absolute;right:10px;bottom:22px;width:calc(100% - 170px)!important;height:60px!important}.vab-chart[data-v-ae4a52f5]{width:100%;min-width:170px;height:100%;min-height:90px}
