
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.count-to[data-v-6e6c18a2]{display:inline-block;margin-bottom:20px;font-size:60px;color:#f6416c}
