
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.demo>i[data-v-dc5285a2]{margin:0 20px;font-size:1.5em;color:#606266;vertical-align:middle}.demo button[data-v-dc5285a2]{margin:0 20px}.list-icon[data-v-dc5285a2]{display:inline-block;margin:10px}.list-icon i[data-v-dc5285a2]{font-size:32px;color:#606266}
