
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.demo>i[data-v-8f07d1d9]{margin:0 20px;font-size:1.5em;vertical-align:middle;color:#606266}.demo button[data-v-8f07d1d9]{margin:0 20px}.list-icon[data-v-8f07d1d9]{display:inline-block;margin:10px}.list-icon i[data-v-8f07d1d9]{font-size:32px;color:#606266}
