
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.el-card[data-v-3d871557]{margin-bottom:15px}.el-card[data-v-3d871557] .el-card__body{display:flex;justify-content:center;cursor:pointer}.el-card i[data-v-3d871557]{font-size:24px}[data-v-3d871557] .el-dialog .el-dialog__body{padding:0 16px 16px}[data-v-3d871557] .el-dialog .icon-box{display:flex;align-items:center;justify-content:center;width:80px;height:80px;border:1px solid #e0e8ef}[data-v-3d871557] .el-dialog .icon-box i{font-size:60px}[data-v-3d871557] .el-dialog .icon-info{display:flex;flex-direction:column;justify-content:space-between;height:100%}[data-v-3d871557] .el-dialog .icon-info .title{font-size:24px;font-weight:700}
