
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.fade-enter-active[data-v-e6517686],.slide-left-enter-active[data-v-e6517686],.slide-right-enter-active[data-v-e6517686],.slide-top-enter-active[data-v-e6517686],.slide-bottom-enter-active[data-v-e6517686]{transition:.4s}.fade-leave-active[data-v-e6517686],.slide-left-leave-active[data-v-e6517686],.slide-right-leave-active[data-v-e6517686],.slide-top-leave-active[data-v-e6517686],.slide-bottom-leave-active[data-v-e6517686]{transition:.3s}.fade-enter-from[data-v-e6517686],.fade-leave-to[data-v-e6517686]{opacity:0}.slide-left-enter-from[data-v-e6517686]{margin-left:20px;opacity:0}.slide-left-leave-to[data-v-e6517686],.slide-right-enter-from[data-v-e6517686]{margin-left:-20px;opacity:0}.slide-right-leave-to[data-v-e6517686]{margin-left:20px;opacity:0}.slide-top-enter-from[data-v-e6517686]{margin-top:20px;opacity:0}.slide-top-leave-to[data-v-e6517686],.slide-bottom-enter-from[data-v-e6517686]{margin-top:-20px;opacity:0}.slide-bottom-leave-to[data-v-e6517686]{margin-top:20px;opacity:0}
