
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.fade-enter-active[data-v-ccdeb23a],.slide-left-enter-active[data-v-ccdeb23a],.slide-right-enter-active[data-v-ccdeb23a],.slide-top-enter-active[data-v-ccdeb23a],.slide-bottom-enter-active[data-v-ccdeb23a]{transition:.4s}.fade-leave-active[data-v-ccdeb23a],.slide-left-leave-active[data-v-ccdeb23a],.slide-right-leave-active[data-v-ccdeb23a],.slide-top-leave-active[data-v-ccdeb23a],.slide-bottom-leave-active[data-v-ccdeb23a]{transition:.3s}.fade-enter-from[data-v-ccdeb23a],.fade-leave-to[data-v-ccdeb23a]{opacity:0}.slide-left-enter-from[data-v-ccdeb23a]{margin-left:20px;opacity:0}.slide-left-leave-to[data-v-ccdeb23a],.slide-right-enter-from[data-v-ccdeb23a]{margin-left:-20px;opacity:0}.slide-right-leave-to[data-v-ccdeb23a]{margin-left:20px;opacity:0}.slide-top-enter-from[data-v-ccdeb23a]{margin-top:20px;opacity:0}.slide-top-leave-to[data-v-ccdeb23a],.slide-bottom-enter-from[data-v-ccdeb23a]{margin-top:-20px;opacity:0}.slide-bottom-leave-to[data-v-ccdeb23a]{margin-top:20px;opacity:0}
