
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.el-image[data-v-43eda62f]{background-color:var(--el-fill-color);border-radius:5px;box-shadow:var(--el-box-shadow-light);transition:background-color .3s,var(--el-transition-box-shadow)}.el-image[data-v-43eda62f] .el-image__inner{cursor:pointer;transition:all .3s}.el-image[data-v-43eda62f] .el-image__inner:hover{transform:scale(1.2)}.el-image[data-v-43eda62f] .image-slot{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-size:30px;color:#909399}
