
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.page-main[data-v-303d96b2]{margin:0;min-height:12.5rem;flex-shrink:1;flex-grow:1;flex-basis:400px}.page-main[data-v-303d96b2] .main-container{display:flex;flex:1 1 0%;align-items:center;justify-content:center;gap:1rem}
