
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.toolbar-container[data-v-3db508cb]{height:var(--g-toolbar-height);background-color:var(--g-container-bg);transition:background-color .3s}.toolbar-container .left-side[data-v-3db508cb]{-webkit-mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to right,#000 0%,#000 calc(100% - 50px),transparent)}[dir=rtl] .toolbar-container .left-side[data-v-3db508cb]{-webkit-mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent);mask-image:linear-gradient(to left,#000 0%,#000 calc(100% - 50px),transparent)}
