
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.copyright[data-v-d2d04ff0]{margin-top:1rem;margin-bottom:1rem;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding-left:1rem;padding-right:1rem;font-size:.875rem;line-height:1.25rem;color:hsl(var(--secondary-foreground) / .5)}.copyright span[data-v-d2d04ff0],.copyright a[data-v-d2d04ff0]{padding-left:.25rem;padding-right:.25rem}.copyright a[data-v-d2d04ff0]{text-align:center;text-decoration:none;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.copyright a[data-v-d2d04ff0]:hover{--un-text-opacity:1;color:hsl(var(--secondary-foreground) / var(--un-text-opacity))}
