
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
[data-v-1817a065] input[type=password]::-ms-reveal{display:none}.el-form-item[data-v-1817a065]{margin-bottom:24px}.el-form-item[data-v-1817a065] .el-input{width:100%;height:48px;line-height:inherit}.el-form-item[data-v-1817a065] .el-input input{height:48px}.el-form-item[data-v-1817a065] .el-input .el-input__prefix,.el-form-item[data-v-1817a065] .el-input .el-input__suffix{display:flex;align-items:center}.el-form-item[data-v-1817a065] .el-input .el-input__prefix{left:10px}.el-form-item[data-v-1817a065] .el-input .el-input__suffix{right:10px}[data-v-1817a065] .el-divider__text{white-space:nowrap;background-color:var(--g-container-bg)}
