
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.absolute-container[data-v-386d1d26]{position:absolute;display:flex;flex-direction:column;width:100%;height:100%}.absolute-container .page-main[data-v-386d1d26]{flex:1;overflow:auto}.absolute-container .page-main[data-v-386d1d26] .main-container{display:flex;flex:1;flex-direction:column;overflow:auto}.absolute-container .page-main .page-header[data-v-386d1d26]{margin-bottom:0}.page-main[data-v-386d1d26] .search-form{display:grid;grid-template-columns:repeat(auto-fit,minmax(330px,1fr));margin-bottom:-18px}.page-main[data-v-386d1d26] .search-form .el-form-item{grid-column:auto/span 1}.page-main[data-v-386d1d26] .search-form .el-form-item:last-child{grid-column-end:-1}.page-main[data-v-386d1d26] .search-form .el-form-item:last-child .el-form-item__content{justify-content:flex-end}.page-main .el-divider[data-v-386d1d26]{width:calc(100% + 40px);margin-inline:-20px}
