
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.page-header.el-card[data-v-3e5cc0bb]{position:relative;min-height:120px;cursor:pointer;background:#fff linear-gradient(120deg,rgb(var(--primary) / 10%) 10%,#fff) no-repeat}.page-header[data-v-3e5cc0bb] .el-card__body{position:relative;display:flex;flex-direction:row;align-items:center;justify-content:center;min-height:120px}.page-header-avatar[data-v-3e5cc0bb]{width:80px;height:80px;padding:20px;margin-right:20px;background-color:#fff!important;border-radius:50%}.page-header-tip[data-v-3e5cc0bb]{flex:auto;width:calc(100% - 200px);min-width:300px}.page-header-tip-title[data-v-3e5cc0bb]{font-size:1.125rem;font-weight:700;line-height:30px}.page-header-tip-description[data-v-3e5cc0bb]{min-height:25px;line-height:25px}
