
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.recommendation.el-card[data-v-7bc4428a],.recommendation .el-card[data-v-7bc4428a]{margin-bottom:1.25rem}.recommendation[data-v-7bc4428a] .el-card__header{justify-content:flex-start}.recommendation[data-v-7bc4428a] .el-card__header:after{position:unset;content:unset}.recommendation .icon-panel:hover .item>i[data-v-7bc4428a]{color:#fff;background:rgb(var(--primary))}.recommendation .item>i[data-v-7bc4428a]{display:inline-flex;width:50px;height:50px;font-size:30px;line-height:50px;color:rgb(var(--primary));background:rgb(var(--primary) / 10%);border-radius:var(--el-border-radius-base);transition:all ease-in-out .3s}.recommendation .icon-panel-title[data-v-7bc4428a]{display:inline-block;padding-top:10px;margin-left:10px;vertical-align:-10px;color:#0f0f0f}.recommendation .icon-panel-title .icon-panel-tips[data-v-7bc4428a]{margin-top:5px;font-size:.75rem;color:#0f0f0f}
