
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.sparkline[data-v-b4211adf]{position:relative}.sparkline[data-v-b4211adf] .sparkline--cursor{stroke:var(--1759bdf4)}.sparkline[data-v-b4211adf] .sparkline--spot{fill:var(--9e222cf0);stroke:var(--9e222cf0)}.sparkline .tooltip[data-v-b4211adf]{position:absolute;z-index:9999;padding:2px 5px;font-size:12px;color:#fff;white-space:nowrap;background:rgba(0,0,0,.7)}
