
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.sparkline[data-v-54449392]{position:relative}.sparkline[data-v-54449392] .sparkline--cursor{stroke:var(--614d65b6)}.sparkline[data-v-54449392] .sparkline--spot{fill:var(--4d3a90f9);stroke:var(--4d3a90f9)}.sparkline .tooltip[data-v-54449392]{position:absolute;z-index:9999;padding:2px 5px;font-size:12px;color:#fff;white-space:nowrap;background:rgba(0,0,0,.7)}
