
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.sparkline[data-v-bda852de]{position:relative}.sparkline[data-v-bda852de] .sparkline--cursor{stroke:var(--56361300)}.sparkline[data-v-bda852de] .sparkline--spot{fill:var(--04c6d514);stroke:var(--04c6d514)}.sparkline .tooltip[data-v-bda852de]{position:absolute;z-index:9999;padding:2px 5px;font-size:12px;color:#fff;white-space:nowrap;background:rgba(0,0,0,.7)}
