
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.sparkline[data-v-5f575780]{position:relative}.sparkline[data-v-5f575780] .sparkline--cursor{stroke:var(--4b5a1b0a)}.sparkline[data-v-5f575780] .sparkline--spot{fill:var(--426f941e);stroke:var(--426f941e)}.sparkline .tooltip[data-v-5f575780]{position:absolute;z-index:9999;padding:2px 5px;font-size:12px;color:#fff;white-space:nowrap;background:rgba(0,0,0,.7)}
