
/**
 * 由 admin 提供技术支持
 * Powered by admin
 * 代码仓库
 * Github https://github.com/Lmx1220/kpu-web
 */
    
.absolute-container[data-v-fef3e2dd]{position:absolute;display:flex;flex-direction:column;width:100%;height:100%}.absolute-container .page-header[data-v-fef3e2dd]{margin-bottom:0}.absolute-container .page-main[data-v-fef3e2dd]{flex:1;overflow:auto}.absolute-container .page-main[data-v-fef3e2dd] .main-container{display:flex;flex:1;flex-direction:column;overflow:auto}
