// 列表页全局样式
.el-table.list-table {
    margin: 20px 0;

    .el-button + .el-dropdown {
        margin-left: 10px;
    }
}

.el-dialog {
    margin-bottom: 0 !important;

    &.is-fullscreen {
        max-width: calc(100vw - 32px);
    }
}
