@use "./tailwind.scss";
@use "./themes.scss";
@use "./element-plus/index.scss"; 

 


html,body{ 
  height: 100%;
}

html{
  line-height: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-tap-highlight-color: transparent;

  &.overflow-hidden {
    overflow: hidden;
  } 
}

*{
  box-sizing: inherit;
}

:focus,
.focus-visible:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

:is(.el-dropdown,.el-tooltip__trigger):focus-visible {
  outline: unset;
}