/* 页面布局 CSS 变量 */
:root {
  /* 这是一个复合变量
   当页宽模式为 adaption-min-width 时，它代表 最小宽度
   当页宽模式为 center 时，它代表 固定宽度
   当页宽模式为 center-max-width 时，它代表 最大宽度 */
  --g-app-width: 1400px;

  /* 头部宽度（默认自适应宽度，可固定宽度，固定宽度后为居中显示） */
  --g-header-width: 100%;

  /* 头部高度 */
  --g-header-height: 60px;

  /* 侧边栏宽度 */
  --g-main-sidebar-width: 80px;
  --g-sub-sidebar-width: 220px;
  --g-sub-sidebar-collapse-width: 64px;

  /* 侧边栏 Logo 区域高度 */
  --g-sidebar-logo-height: 50px;

  /* 标签栏高度 */
  --g-tabbar-height: 50px;

  /* 工具栏高度 */
  --g-toolbar-height: 50px;

  /* 标签页最大最小宽度，两个宽度为同一数值时，则为固定宽度，反之将宽度设置为 unset 则为自适应 */
  --g-tabbar-tab-max-width: 150px;
  --g-tabbar-tab-min-width: 150px;

  /* 滚动条颜色 */
  --scrollbar-color: 240 5.9% 90%;
}

&.dark {
  --scrollbar-color: 240 3.7% 15.9%;
}

/* 明暗模式 CSS 变量 */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  color-scheme: light;

  &::view-transition-old(root),
  &::view-transition-new(root) {
    mix-blend-mode: normal;
    animation: none;
  }

  &::view-transition-old(root) {
    z-index: 1;
  }

  &::view-transition-new(root) {
    z-index: 9999;
  }

  &.dark {
    color-scheme: dark;

    --g-box-shadow-color: rgb(0 0 0 / 72%);

    &::view-transition-old(root) {
      z-index: 9999;
    }

    &::view-transition-new(root) {
      z-index: 1;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 40%);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 6px;

  &:hover {
    background-color: rgb(0 0 0 / 50%);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  outline: unset;
  scrollbar-color: hsl(var(--scrollbar-color)) transparent;
  scrollbar-width: thin;
  border-color: hsl(var(--border));
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  -webkit-tap-highlight-color: transparent;
}

#app {
  height: 100%;
}

textarea {
  font-family: inherit;
}

.layout-dragging * {
  transition: none !important;
}

/* medium-zoom */
.medium-zoom-overlay,
.medium-zoom-image {
  z-index: 3000;
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown,
.v-popper--theme-tooltip {
  --uno: inline-flex;
}

.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --uno: bg-white dark-bg-stone-8 text-dark dark-text-white rounded shadow ring-1 ring-gray-200 dark-ring-gray-800 border border-solid border-stone/20 text-xs font-normal;

  box-shadow: 0 6px 30px rgb(0 0 0 / 10%);
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;

  --uno: border-white dark-border-stone-8;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --uno: border-stone/20;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

/* 后续添加 */
/* stylelint-disable-next-line no-duplicate-selectors */
* {
  padding: 0;
  margin: 0;
}

/* .el-card {
  box-shadow: 0 0 12px rgb(0 0 0 / 7%) !important;
}

.el-card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;

  > div {
    width: 100%;
  }

  p.fx-b {
    flex-shrink: 0;
    width: 100%;
  }
}

.el-card__header::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 3px;
  height: 20px;
  content: "";
  background: linear-gradient(to bottom, #0081ff, #22cce2);
  border-radius: 0 3px 3px 0;
  transform: translateY(-50%);
} */

.el-overlay-dialog {
  margin: 0 16px;
}
