@import "vxe-table/styles/index";

:root.dark .kpu-j-vxe-table {
  .vxe-cell--item,
  .vxe-cell--title,
  .vxe-cell,
  .vxe-body--expanded-cell {
    color: #c9d1d9;
  }

  .vxe-form--wrapper {
    background-color: #151515;
  }

  .vxe-input--inner,
  .vxe-default-input {
    background-color: transparent;
    border: 1px solid #303030;
  }

  .vxe-pager,
  .vxe-pager--prev-btn,
  .vxe-pager--next-btn,
  .vxe-pager--num-btn,
  .vxe-pager--jump-prev,
  .vxe-pager--jump-next {
    background-color: #151515;
  }

  .vxe-pager--goto {
    background-color: #151515;
    border: 1px solid #303030;
  }

  .vxe-pager .vxe-select-option--wrapper {
    background-color: #151515;
    border: 1px solid #303030;

    .vxe-select-option {
      &:hover,
      &.is--selected {
        color: #c9d1d9;
        background-color: #ffffff14;
      }
    }
  }

  .vxe-toolbar {
    background-color: #151515;

    &.is--perfect {
      border: 1px solid #303030;
      border-bottom-width: 0;
      background-color: #151515;
    }
  }

  .vxe-table--render-default {
    .vxe-table--body-wrapper,
    .vxe-table--footer-wrapper {
      background-color: #151515;
    }

    &.border--default .vxe-header--column,
    &.border--inner .vxe-header--column,
    &.border--default .vxe-body--column,
    &.border--inner .vxe-body--column,
    &.border--default .vxe-footer--column,
    &.border--inner .vxe-footer--column {
      background-image: linear-gradient(#303030, #303030);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: right bottom;
    }

    &.border--full {
      .vxe-header--column,
      .vxe-body--column,
      .vxe-footer--column {
        background-image: linear-gradient(#303030, #303030), linear-gradient(#303030, #303030);
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        background-position: right top, right bottom;
      }

      .vxe-table--fixed-left-wrapper .vxe-body--column {
        border-right-color: #303030;
      }
    }

    &.border--default .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,
    &.border--full .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,
    &.border--outer .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter,
    &.border--inner .vxe-table--header-wrapper .vxe-header--row:last-child .vxe-header--gutter {
      background-image: linear-gradient(#303030, #303030);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: right bottom;
    }

    .vxe-table--border-line {
      border-color: #606060;
    }
  }

  .vxe-table .vxe-table--header-wrapper .vxe-table--header-border-line {
    border-bottom-color: #606060;
  }

  .vxe-table--render-default {
    .vxe-table--footer-wrapper {
      border-top-color: #606060;
    }

    .vxe-body--expanded-column {
      border-bottom-color: #606060;
    }

    .vxe-body--row {
      &.row--stripe {
        background-color: #1e1e1e;
      }

      &.row--hover {
        background-color: #262626;
      }

      &.row--checked {
        background-color: #44403a;

        &.row--hover {
          background-color: #59524b;
        }
      }
    }

    &.border--default .vxe-table--header-wrapper,
    &.border--full .vxe-table--header-wrapper,
    &.border--outer .vxe-table--header-wrapper {
      background-color: #1d1d1d;
    }
  }

  .vxe-header--column .vxe-resizable.is--line::before {
    background-color: #505050;
  }

  .vxe-custom--option .vxe-checkbox--icon::before,
  .vxe-export--panel-column-option .vxe-checkbox--icon::before,
  .vxe-table--filter-option .vxe-checkbox--icon::before,
  .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon::before {
    background-color: #151515;
    border-color: #606060;
  }

  .vxe-toolbar .vxe-custom--option-wrapper {
    background-color: #151515;
  }

  .vxe-button {
    background-color: #151515;
    border-color: #606060;

    &.type--button:not(.is--disabled):active {
      background-color: #151515;
    }
  }

  .vxe-toolbar {
    .vxe-custom--wrapper.is--active > .vxe-button {
      background-color: #151515;
    }

    .vxe-custom--option-wrapper .vxe-custom--footer button {
      color: #c9d1d9;
    }
  }
}

.kpu-j-vxe-table {
  .vxe-cell--edit-icon {
    border-color: #606266;
  }

  .sort--active {
    border-color: #1890ff;
  }
}

.kpu-j-vxe-table-toolbar-collapsed [data-collapse] {
  display: none;
}

.kpu-j-vxe-table-toolbar-button.div .ant-btn {
  margin-right: 8px;
}

.kpu-j-vxe-table {
  .j-vxe-pagination {
    margin-top: 8px;
    text-align: right;

    .ant-pagination-options-size-changer.ant-select {
      margin-right: 0;
    }

    &.show-quick-jumper .ant-pagination-options-size-changer.ant-select {
      margin-right: 8px;
    }
  }

  .vxe-table--tooltip-wrapper.vxe-table--valid-error {
    background-color: #f5222d !important;
  }

  .col--valid-error > {
    .vxe-cell > {
      .ant-input {
        border-color: #f5222d !important;
      }

      .ant-select {
        .ant-input,
        .ant-select-selection {
          border-color: #f5222d !important;
        }
      }

      .ant-input-number,
      .ant-cascader-picker .ant-cascader-input,
      .ant-calendar-picker .ant-calendar-picker-input {
        border-color: #f5222d !important;
      }
    }

    .vxe-tree-cell > {
      .ant-input {
        border-color: #f5222d !important;
      }

      .ant-select {
        .ant-input,
        .ant-select-selection {
          border-color: #f5222d !important;
        }
      }

      .ant-input-number,
      .ant-cascader-picker .ant-cascader-input,
      .ant-calendar-picker .ant-calendar-picker-input {
        border-color: #f5222d !important;
      }
    }
  }

  .vxe-body--row {
    &.sortable-ghost,
    &.sortable-chosen {
      background-color: #dfecfb;
    }
  }

  .vxe-table {
    .vxe-table--body-wrapper.body--wrapper {
      overflow-x: hidden;
    }

    &:hover .vxe-table--body-wrapper.body--wrapper {
      overflow-x: auto;
    }
  }

  .vxe-table--render-default .vxe-table--expanded .vxe-table--expand-btn {
    width: 17px;
    height: 17px;
  }
}
